{% extends "cashbook/base.html" %}

{% block content %}
<!-- Search option -->
<div class="p-3">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search by amount or remarks" aria-label="search" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search"></i></button>
        </div>
      </div>
</div>


<!-- Filter opthions -->
<div class="p-3" style="margin-top: -30px">
    <div class="row justify-content-md-center">
        <div class="col-4">
            <select class="form-control" name="date-filter" id="date-filter" required>
                <option value="all-time" {% if date_filter == '' %}selected{% endif %}>All Time</option>
                <option value="today" {% if date_filter == 'today' %}selected{% endif %}>Today</option>
                <option value="yesterday" {% if date_filter == 'yesterday' %}selected{% endif %}>Yesterday</option>
                <option value="this_month" {% if date_filter == 'this_month' %}selected{% endif %}>This Month</option>
                <option value="last_month" {% if date_filter == 'last_month' %}selected{% endif %}>Last Month</option>
                <option value="single_day" {% if date_filter == 'single_day' %}selected{% endif %}>Single Day</option>
                <option value="date_range" {% if date_filter == 'date_range' %}selected{% endif %}>Date Range</option>
            </select>
        </div>
        <div class="col-4">
            <select class="form-control" name="trx-type" id="trx-type" required>
                <option value="" {% if trx_type_filter == '' %}selected{% endif %}>Trx Type</option>
                {% for type in trx_types %}
                <option value="{{ type.id }}" {% if trx_type_filter == type.id %}selected{% endif %}>{{ type.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-4">
            <select class="form-control" name="category" id="category" required>
                <option value="" {% if category_filter == '' %}selected{% endif %}>Category</option>
                <option value="">No Category</option>
                {% for category in categories %}
                <option value="{{ category.id }}" {% if category_filter == category.id %}selected{% endif %}>{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<!-- Cash in and cash out option -->
  <div class="p-3" style="margin-top: -15px;">
    <div class="row">
        <div class="col-6">
            <a href="{% url 'cashbook:cash_in' %}" class="btn btn-success btn-block">Cash In</a>
        </div>
        <div class="col-6">
            <a href="{% url 'cashbook:cash_out' %}" class="btn btn-danger btn-block">Cash Out</a>
        </div>
      </div>
    </div>


    <!-- Transaction list -->
    {% if trx_all %}
        
    <div class="card"">
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Net Balance
                    <span class="badge badge-secondary badge-pill"><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{ net_balance }}</span>
                  </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Opening Balance
                  <span class="badge badge-primary badge-pill"><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{acc_cash.initial_balance}}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Total Cash In
                  <span class="badge badge-success badge-pill"><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{ total_cash_in }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  Total Cash Out
                  <span class="badge badge-danger badge-pill"><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{ total_cash_out }}</span>
                </li>
                <li class="list-group-item text-center">
                    <a href="#" class="text-decoration-none">View Reports <i class="fa fa-arrow-right"></i> </a>
                </li>
              </ul>
        </div>
    </div>

        <div class="list-group">
            {% for trx in trx_all %}
            <a href="{% url 'cashbook:edit_transaction' trx.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class=" w-100">
                    {% if trx.trx_type_id == type_cash_in %}
                    <span class="badge badge-info mr-2">{{ trx.category_id.name }}</span>
                    <span class="badge badge-secondary">Cash In</span>  
                    <span class="text-success float-right"><b><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{ trx.amount }}</b></span>
                    {% else%}
                    <span class="badge badge-info mr-2">{{ trx.category_id.name }}</span>
                    <span class="badge badge-secondary">Cash Out</span>  
                    <span class="text-danger float-right"><b><i class="fa-solid fa-bangladeshi-taka-sign"></i> {{ trx.amount }}</b></span>
                    {% endif %}
                </div>
                <p class="mb-1">{{ trx.remarks }}</p>
                <small class="text-muted">{{ trx.create_date }}</small>
            </a>
            {% endfor %}
        </div>
    {% else %}
    <div class="card"">
        <div class="card-body">
            <ul class="list-group">
                <span>No Trx are available.</span>
            </ul>
        </div>
    </div>
        
    {% endif %}


<!-- JavaScript code -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    // Handle onchange event for filter options
    $('#date-filter, #trx-type, #category').on('change', function() {
        // Get selected values
        var dateFilter = $('#date-filter').val();
        var trxTypeFilter = $('#trx-type').val();
        var categoryFilter = $('#category').val();

        // Construct the URL with the selected filters
        var url = '/cashbook/?date-filter=' + dateFilter + '&trx-type=' + trxTypeFilter + '&category=' + categoryFilter;

        // Send the GET request
        window.location.href = url;
    });
});
</script>

{% endblock %}
