{% extends "cashbook/base.html" %}

{% block content %}
<div class="card-body">
    
    <div class="d-flex justify-content-between mt-4">
        <!-- Back button -->
        <h4 ><a href="{% url 'cashbook:index' %}" type="button" class="mr-2"> <i class="fa fa-arrow-left"></i> </a> Manage Category</h4>
      
        <a href="{% url 'cashbook:add_category' %}" class="btn btn-outline-primary">Add Category</a>

    </div>

<!-- Action Button -->
    <form class="form-inline mt-3">
        <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Action: </label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
          <option selected>--Choose--</option>
          <option value="delete">Delete</option>
          <option value="active">Active</option>
          <option value="deactive">Deactive</option>
        </select>
        <button type="submit" class="btn btn-secondary my-1 mr-2">Go</button>
        <span>0 of {{ total_categories }} selected</span>
      
      </form>


      <!-- List Category -->
    <ul class="list-group mt-2">
        <li class="list-group-item form-check form-check-inline">
            <div class="form-check form-check-inline">
                <input class="form-check-input mr-4" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label text-uppercase" for="inlineCheckbox1">Category</label>
            </div>
        </li>
        {% for category in categories %}
        <li class="list-group-item ">
            <div class="form-check form-check-inline">
                <input class="form-check-input mr-4" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">
                    <a href="{% url 'cashbook:edit_category' category.id %}" class="text-decoration-none">{{ category.name }}</a>
                </label>
            </div>
            <a href="{% url 'cashbook:edit_category' category.id %}" class="text-decoration-none   d-inline">
                {% if category.is_active %}
                <i class=" text-success fa-regular fa-eye"></i>
                {% else %}
                <i class="text-danger fa-regular fa-eye-slash"></i>
                {% endif %}
            </a> 
            <a href="{% url 'cashbook:edit_category' category.id %}" class="text-decoration-none  float-right d-inline">
                <i class="fa-regular fa-pen-to-square"></i>
            </a> 
            <form action="{% url 'cashbook:delete_category' %}" method="post" class="float-right d-inline pr-4 delete-form">
                {% csrf_token %}
                <input type="hidden" name="category_id" value="{{ category.id }}">
                <button type="submit" class="btn btn-danger btn-sm delete-button"><i class="fa fa-trash"></i></button>
            </form>

        </li>
        
        {% endfor %}
        <li class="list-group-item"><span>{{ total_categories }} Categories </span></li>
      </ul>
</div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
        // Click event handler for the Delete button
        $(".delete-button").click(function(e) {
            e.preventDefault(); // Prevent the default form submission

            if (window.confirm("Are you sure you want to delete this?")) {
            $(this).closest(".delete-form").submit(); // Submit the Delete form related to the clicked button
            }
        });
        });

    </script>

{% endblock %}

